[Unit]
Description=Mega-Kuponi backend (Rust/Rocket)
Wants=network.target
After=syslog.target network-online.target postgresql.service redis-server.service

[Service]
Type=simple
ExecStart={{ app_deploy_dir }}/mega-kuponi
WorkingDirectory={{ app_deploy_dir }}
Restart=on-failure
RestartSec=10
KillMode=mixed
User={{ runner_user }}

EnvironmentFile=/etc/megakuponi/app.env

[Install]
WantedBy=multi-user.target
