ROCKET_DATABASES='{sqlx={url="postgresql://{{ postgres_app_user }}:{{ vault_postgres_app_password | urlencode }}@localhost:5432/{{ postgres_db }}",min_connections=32,max_connections=64,connect_timeout=8},redis_pool={url="redis://:{{ vault_redis_password | urlencode }}@localhost:6379"}}'
ROCKET_MAILJET_KEY='{{ vault_mailjet_key }}'
ROCKET_MAILJET_SECRET='{{ vault_mailjet_secret }}'
ROCKET_SECRET_KEY='{{ vault_rocket_secret_key }}'
ROCKET_VERIFICATION_SECRET='{{ vault_rocket_verification_secret }}'
ROCKET_ADMIN_URI='https://www.{{ nginx_admin_domain }}'
ROCKET_RESOURCE_PATH='{{ app_resources_dir }}/'
ROCKET_DOPPIO_API_KEY='{{ vault_doppio_api_key }}'
