APT::Periodic::Update-Package-Lists "1";
APT::Periodic::Download-Upgradeable-Packages "{{ '1' if auto_updates_enabled else '0' }}";
APT::Periodic::AutocleanInterval "7";
APT::Periodic::Unattended-Upgrade "{{ '1' if auto_updates_enabled else '0' }}";
