Unattended-Upgrade::Allowed-Origins {
    "${distro_id}:${distro_codename}";
    "${distro_id}:${distro_codename}-security";
    "${distro_id}ESMApps:${distro_codename}-apps-security";
    "${distro_id}ESM:${distro_codename}-infra-security";
};

Unattended-Upgrade::Package-Blacklist {
};

// Automatically reboot if a restart is required (e.g. kernel update)
// Controlled via auto_reboot_enabled in vars.yml
Unattended-Upgrade::Automatic-Reboot "{{ 'true' if auto_reboot_enabled else 'false' }}";
Unattended-Upgrade::Automatic-Reboot-Time "{{ auto_reboot_time }}";

Unattended-Upgrade::Remove-Unused-Dependencies "true";
Unattended-Upgrade::Remove-New-Unused-Dependencies "true";
